{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>INTRANET RENOVIE</h1>

    <hr/>

    {% include "@App/elements/form.html.twig" %}

    <hr/>

{% endblock %}