{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1 >MODIFICATION D'UN CONTACT</h1>

        {{ form(form) }}
        {{ form_widget }}

    </div>


{% endblock %}